body {
  font-family: "Lucida-Bright";
}

body {
  display: block;
  margin: 8px;
}

.header {
  background-color: #e1deb7;
  color: #000;
  height: 110px;
  font-family: "Lucida-Bright";
}

.header-logo {
  font-size: 36px;
  padding: 40px;
}

.copy-container h3 {
  font-size: 60px;
}

div {
  display: block;
}

center {
  display: block;
  text-align: -webkit-center;
}

.main {
  padding: 100px 80px;
  background-color: #e1deb7;
  font-family: "Lucida-Bright";
}

.contents-item img {
  height: 250px;
  width: 400px;
}

.contents {
  height: 500px;
  margin-top: 100px;
}

.contents-item {
  ;
}

.copy-container h3 {
  font-size: 60px;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.footer {
  background-color: #e1deb7;
  color: #000;
  height: 400px;
  padding: 40px;
  font-family: "Lucida-Bright";
}

.footer-logo {
  font-size: 32px;
}

.footer img {
  padding: 30px;
}

.message {
  padding: 15px 40px;
  background-color: black;
  cursor: pointer;
  box-shadow: 0 7px #707070;
  opacity: 0.8; 
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
  border-radius: 4px;
  color: white;
  padding: 40px;
  font-family: "Lucida-Bright";
  background-color: #e1deb7;
}
