body {
  font-family: "Lucida-Bright";
}

body {
  display: block;
  margin: 8px;
}

.header {
  background-color: #D3D3D3;
  color: #000;
  height: 110px;
  font-family: "Lucida-Bright";
}

div {
  display: block;
}

center {
  display: block;
  text-align: -webkit-center;
}

.main {
  padding: 100px 80px;
  background-color: #D3D3D3;
  font-family: "Lucida-Bright";
}

.contents {
  height: 500px;
  margin-top: 100px;
}

.contents-item {
  margin-right: 40px;
}

.copy-container h3 {
  font-size: 60px;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.footer {
  background-color: #D3D3D3;
  color: #000;
  height: 200px;
  padding: 40px;
  font-family: "Lucida-Bright";
}

.footer-logo {
  font-size: 32px;
}

